extends ../base.pug

block content
  h1 Add a new driver
  form(action="/drivers" method="POST")
    p
      label(for="name") name:
      input(type="text", name="name", id="name")
    p
      label(for="age") age:
      input(type="number", name="age", id="age")
    p
      button Add a new driver
